<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/tailwind.css" />
        <title>Document</title>
    </head>
    <body>
        <main class="h-screen w-screen flex items-center justify-center">
            <h1 class="text-8xl">120 : 06 : 20 : 55</h1>
            <form action="">
                <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:MM"/>
                <button type="submit">Okej</button>
            </form>
        </main>
    </body>
    <script>
        var hour = 12
        var minute = 58
        var second = 0
        var timeLeft;
        
        validTime(hour, minute) //If the input time is not valid, an error is thrown

        var now = new Date();
        var absolute = new Date();
        absolute.setHours(hour, minute, second)

        if (hasHappened(now, hour, minute)) {
            absolute.setDate(absolute.getDate() + 1)
        }

        

        var counter = setInterval(function(){ 
            timeLeft = timeDifference(now, absolute) //Time left in milliseconds
            timeLeft = calculateTime(timeLeft) //Time left in HH:MM:SS
            displayTime(timeLeft) //Time is displayed

            if (timeLeft.hours == 0 && timeLeft.minutes == 0 && timeLeft.seconds == 0) { //If the time reaches zero, the counter stops
                clearInterval(counter)
            }
        }, 1000);

        
        function validTime(hour, minute) {
            var invalidTime = new Error("Invalid request");
            if (hour < 0 || hour > 23) { //If the input hour is outside the 24-hour clock, it is invalid
                throw invalidTime
            }
            if (minute < 0 || minute > 59) { //If the input minute is outside the 60 minute hour, it is invalid
                throw invalidTime
            }
        }

        function hasHappened(now, hour, minute) {
            if (now.getHours() > hour) { //If the current hour is greated than the input hour, it has already happened
                return true;
            } else if (now.getHours() == hour && now.getMinutes() > minute) { //If the current hour match the inpput hour, the minutes are checked and if the current minute is greated than the input minute, it has already happened
                return true;
            }
            return false; //Returns false if the input time on this date has yet to happen
        }

        function timeDifference(now, absolute) {
            now = new Date().getTime()
            absolute = absolute.getTime()
            return (absolute - now); //Time left in milliseconds is returned
        }

        function calculateTime(msLeft) {
            return { //The calculations from milliseconds to HH:MM:SS can be found here: https://stackoverflow.com/a/10874133
                hours: Math.floor(((msLeft / (1000*60*60)) % 24)),
                minutes: Math.floor(((msLeft / (1000*60)) % 60)),
                seconds: Math.floor(((msLeft / 1000) % 60))
            }
        }

        function displayTime(timeLeft) {
            console.log(`Hours: ${timeLeft.hours} \nMinutes: ${timeLeft.minutes}\nSeconds: ${timeLeft.seconds}`)
        }
    </script>
</html>
