<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/tailwind.css" />
        <title>Document</title>
    </head>
    <body>
        <main class="h-screen w-screen flex items-center justify-center">
            <h1 class="text-8xl">120 : 06 : 20 : 55</h1>
            <form action="">
                <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:MM"/>
                <button type="submit">Okej</button>
            </form>
        </main>
    </body>
    <script>
        var hour = 23
        var minute = 55

        if (!validTime(hour, minute)) {
            throw new Error("Invalid request");
        }

        var now = new Date();
        //sparas i localStorage
        var absolute = new Date();
        absolute.setHours(hour, minute)

        //kolla valid tid
        //kolla om samma dag, om tiden redan har varit idag kommer den alltså ske imorgon
        //ta reda på hur långt det är kvar, sluttid - nutid
        //visa up tiden som är kvar (differansen)

        function validTime(hour, minute) {
            if (hour < 0 || hour > 23) { //If the input hour is outside the 24-hour clock, it is invalid
                return false;
            }
            if (minute < 0 || minute > 59) { //If the input minute is outside the 60 minute hour, it is invalid
                return false;
            }
            return true; //Returns true if both the input hour and minute is valid
        }

        function hasHappened(now, hour, minute) {
            if (now.getHours() > hour) { //If the current hour is greated than the input hour, it has already happened
                return true;
            } else if (now.getHours() == hour && now.getMinutes() > minute) { //If the current hour match the inpput hour, the minutes are checked and if the current minute is greated than the input minute, it has already happened
                return true;
            }
            return false; //Returns false if the input time on this date has yet to happen
        }
    </script>
</html>
