<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/tailwind.css" />
        <title>Document</title>
    </head>
    <body>
        <main class="h-screen w-screen flex items-center justify-center">
            <h1 class="text-8xl">120 : 06 : 20 : 55</h1>
            <form action="">
                <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="HH:MM"/>
                <button type="submit">Okej</button>
            </form>
        </main>
    </body>
    <script>
        var timeLeft;
        var hour = 15
        var minute = 55
        var now = new Date();
        var absolute = new Date();
        absolute.setHours(hour, minute)
        console.log(absolute)
        timeLeft = timeDifference(now, absolute) //Time left in milliseconds
        timeLeft = calculateTime(timeLeft) //Time left in HH:MM:SS

        function timeDifference(now, absolute) {
            now = new Date().getTime()
            absolute = absolute.getTime()
            return (absolute - now); //Time left in milliseconds is returned
        }

        function calculateTime(msLeft) {
            return { //The calculations from milliseconds to HH:MM:SS can be found here: https://stackoverflow.com/a/10874133
                hours: Math.floor(((msLeft / (1000*60*60)) % 24)),
                minutes: Math.floor(((msLeft / (1000*60)) % 60)),
                seconds: Math.floor(((msLeft / 1000) % 60))
            }
        }
    </script>
</html>
