<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="img/faviconBlack.png" id="light-scheme-icon"/>
        <link rel="icon" type="image/png" href="img/faviconWhite.png" id="dark-scheme-icon"/>
        <link rel="stylesheet" href="css/tailwind.css" />
        <script src="js/countdown.js"></script>
        <title>Countdown - svantejonsson.com</title>
        <script src="js/favicon.js"></script>
    </head>
    <body>
        <main class="h-screen w-screen flex items-center justify-center flex-col bg-gray-900">
            <div class="flex w-1/2 text-center text-base md:text-8xl p-5 text-white">
                <p class="w-1/4" id="hour">00</p>
                <p class="w-auto">:</p>
                <p class="w-1/4" id="minute">00</p>
                <p class="ww-auto">:</p>
                <p class="w-1/4" id="second">00</p>
                <p class="w-auto">:</p>
                <p class="w-1/4" id="centiSecond">00</p>
            </div>
            <form onsubmit="return initCountdown()">
                <input type="time" id="userTime" class="py-2 px-4 rounded" autofocus/>
                <button type="submit" class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">Okej</button>
            </form>
        </main>
    </body>
</html>
